* {
    margin: 0;
    padding: 0;
}
html {
    min-width: 320px;
}
header {
    background: url(../images/header-bckgr.jpg) no-repeat center center;       
    height: 100%;
    min-height: 500px;
    position: relative;
}
header>nav>button:focus {
    outline: none;
    border: solid 2px;
}
.navbar a:focus {
    outline: none;
}
.navbar a span:hover {
    padding-bottom: 0.3em;
}
.navbar a span:hover {
    border-bottom: solid;
}
.navbar .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
    color: black;
}
.navbar .navbar-nav .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
}
nav.scrolled {
    background-color: rgb(231, 229, 208, 0.9);
    transition: background-color 300ms linear;
}
.section-name {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2em;
    border: solid 10px;
    padding: 2% 0;
    width: 300px;
}
.about-name {
    background: url(../images/about-bckgr.jpg) no-repeat center center;
}
section.about div.about-info {
    background: url(../images/about-logo.gif) no-repeat center 15%;
    padding: 12% 5%;
}
.about-info p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}
.about-footer .carousel-item .blockquote sub {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
}
.about-footer .carousel-item .blockquote p span:nth-of-type(2) {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
.about-footer .carousel-item:nth-of-type(3) .blockquote, .about-footer .carousel-item:nth-of-type(3) .blockquote .blockquote-footer {
    color: black;
}
.about-footer .carousel-item .blockquote .blockquote-footer {
    font-size: 0.5em;
}
.blockquote-footer::after {
    content: "\00A0\2014";
}
.team-name {
    background: url(../images/team-bckgr.jpg) no-repeat ;
    background-size: cover;
}
.team div.corey-miller-info, .team div.kat-von-d-info {
    background: #ccc8b6;
    position: relative;
    padding: 0 5%;
}
.team div.corey-miller-info h4, .team div.kat-von-d-info h4 {
    font-family: 'Times New Roman', Times, serif;
}
.team div.corey-miller-info p, .team div.kat-von-d-info p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin: 1.5em 0;
}
.team div.corey-miller-info .btn:focus, .team div.kat-von-d-info .btn:focus, .contact-us-info .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.team div.corey-miller-info ul a i , .team div.kat-von-d-info ul a i {
    font-size: 1.5em;
}
.triangle-left {
    width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 25px solid #ccc8b6;
    border-bottom: 15px solid transparent;  
    position: absolute;
    top: 25%;
    left: -25px;
}
.triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #ccc8b6;
    position: absolute;
    top: -25px;
    left: 25%;
}
.team div.subscribe-news {
    padding: 0 5%;
}
.team div.subscribe-news p {
    font-size: 0.8em;
    font-family: 'Times New Roman', Times, serif;
}
.team div.subscribe-news p span {
    margin-bottom: 2em;
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
}
.subscribe-news form input {
    border-radius: 0;
    border-color: black;
}
.subscribe-news form input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-color: black;
}
.subscribe-news form .btn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    background: #9a977a;
    border-radius: 0;
    color: white;
}
.subscribe-news form .btn:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgb(204, 200, 182);
    box-shadow: 0 0 0 0.2rem rgb(204, 200, 182);
    outline: none;
}
.team-footer {
    background: url(../images/team-footer.jpg) no-repeat center center;
    background-size: cover;
    height: 350px;
}
.team-footer p {
    color: #ccc8b6;
    font-size: 3em;
}
.team-footer p:nth-of-type(2) {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
.gallery-name {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    background: #afac9c;
}
.gallery-image, .about-gallery-image {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.gallery-image .overlay, .about-gallery-image .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.gallery-image .overlay:hover {
    background: rgba(154, 151, 122, 0.5);
}
.about-gallery-image .overlay:hover {
    background: rgba(204, 200, 182, 0.5);
}
.gallery-image img, .about-gallery-image img {
    display: block;
    position: relative;
    width: 100%;
}
.set1, .set2 {
    left: 50%;
    position: absolute;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}
.set1 {
    top: 40%;
}
.set2 {
    top: 60%;
}
.gallery-image p, .about-gallery-image p {
    width: 100%;
    text-transform: none;
    font-size: 15px;
    line-height: 2;
}
.gallery-image p a, .about-gallery-image p a {
    color: black;
}
.gallery-image  a i, .about-gallery-image a i {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    padding: 10px;
    font-size: 20px;
}
.set1 a  i {
    -webkit-transform: translate3d(-60px,-60px,0);
    transform: translate3d(0,-60px,0);
}
.set2 a:first-child i {
    -webkit-transform: translate3d(-60px,60px,0);
    transform: translate3d(-60px,60px,0);
}
.set2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,60px,0);
    transform: translate3d(0,60px,0);
}
.set2 a:nth-child(3) i {
    -webkit-transform: translate3d(60px,60px,0);
    transform: translate3d(60px,60px,0);
}
.gallery-image:hover .set1 i, .gallery-image:hover .set2 i, .about-gallery-image:hover .set1 i, .about-gallery-image:hover .set2 i {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}
.contact-us>div {
    background: #e7e5d0;
}
section.contact-us .contact-us-info {
    padding: 10% 0 10% 5%;
}
section.contact-us .contact-us-info p:first-child {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}
section.contact-us .contact-us-info p:not(:first-child) {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}
section.contact-us .contact-form {
    padding: 10% 5%;
}
.contact-form form input, .contact-form form textarea {
    border-radius: 0;
    border-color: black;
}
.contact-form form input:focus, .contact-form form textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-color: black;
}
.contact-us .contact-form .btn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    background: #9a977a;
    border-radius: 0;
    color: white;
}
.contact-us .contact-form .btn:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgb(204, 200, 182);
    box-shadow: 0 0 0 0.2rem rgb(204, 200, 182);
    outline: none;
}
.contact-us-info ul a i {
    font-size: 1.5em;
}
.contact-form form button {
        width: 75%;
    }
.map-responsive img {
    left: 46%;
    top: 39%;
}
.map-responsive {
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
body>footer {
    background-color: #aeaeae;
}
body>footer p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8em;
}
.team a i:hover, .contact-us a i:hover {
    color: cyan;
}

@media only all and (max-width: 1200px) {

}
@media only all and (max-width: 992px) {
    section.about div.about-info {
        background: url(../images/about-logo.gif) no-repeat center 12%;
    }
    .gallery-name {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    header {
        min-height: 350px;
    }
    body>footer {
        min-height: 30px;
    }
    body>footer .navbar {
        display: none;
    }
    section.contact-us .contact-form {
        padding: 0 5% 10%;
    }
    .team div.subscribe-news {
    padding: 3% 5%;
    }
    .team .team-name, .gallery .gallery-name {
        padding: 15% 0;
    }
    .overlay {
        display: none;
    }
    .contact-form form button {
        width: 100%;
    }
}
@media only all and (max-width: 768px) {
    section.about div.about-info {
        background: url(../images/about-logo.gif) no-repeat center 10%;
    }
    .about .about-name {
        padding: 15% 0;
    }
    header nav {
        background-color: rgb(231, 229, 208, 0.9); 
    }
}
@media only all and (max-width: 576px) {
    section.about div.about-info {
        background: none;
    }
    section.contact-us .contact-form {
        padding: 0;
    }
    section.contact-us .contact-us-info {
        padding-bottom: 0;
    }
    section.team .corey-miller img, section.team .kat-von-d img {
        width: 100%;
    }
    nav a {
        width:130px;
    }
    nav a img {
        width: 100%;
    }
}